<html>
<head>
<style>
.menu
{
	background-color:black;
	background:url(IMG_5936.jpg);
	width:100%;
	height:100px;
	top:0;
	position:fixed;
	opacity:0.7;
}
.main
{
	width:100%;
	height:auto;
	background:url(IMG_5936.jpg);
	padding-top:50px;
	background-color:#181818;
	text-align:left;
	font-size:50px;
	font-family:arial;
	font-weight:bold;
	color:#eae0c8;
}	
ul{
   list-style-type:none;
   margin:0;
   padding:0;
   overflow:hidden;
   background-color:#181818;
   }
 .pull-left { float: left; }
.pull-right { float: right; }
.pull-left li, .pull-right li { display: inline-block; }
li a,.dropbtn{
display:inline-block;
color:#eae0c8;
text-align:center;
padding:14px 16px;
text-decoration:none;
}
li a:hover,.dropdown:hover{
background-color:brown;
}
.dropdown-content
{
display:none;
position:absolute;
background-color:maroon;
min-width:160px;
box-shadow:5px 5px silver;
z-index:1;
}
.dropdown-content a{
color:black;
padding:12px 16px;
text-decoration:none;
display:block;
text-align:left;
}
.dropdown-content a:hover{background-color:gray;}
.dropdown:hover .dropdown-content{
display:block;
}

.ourstory{
	text-align:center;
	font-size:80px;
	font-family:FranklinGothicURW-Boo;
	font-style:italic;
	color:#8a887c;
	background-color:#e8e6d8;
	animation-duration:5s;
    animation-name:flipin;
}

@keyframes flipin{
  from {
    margin-left: 100%;
    width: 200%; 
  }

  75% {
    font-size: 150%;
    margin-left:0%;
    width: 100%;
  }

  to {
    margin-left:0%;
    width: 100%;
  }
}

.special{
	text-align:center;
	font-size:50px;
	font-family:Financier Light;
	padding-top:850px;
	color:#8a887c;
	background-color:#e8e6d8;
}

.parallax {
  background-image: url("anniversary-birthday.jpg");
  min-height:1500px; 
  width:1503px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bridal{
	text-align:center;
	font-size:50px;
	font-family:Financier Light;
	color:#8a887c;
	background-color:#e8e6d8;
}

.box{
	 background-color:#8a887c;
  width: 500px;
  border: 15px solid #e8e6d8;
  padding: 50px;
  margin: 20px;
  margin-left:0px;
  margin-top:770px;
  position:relative;
  font-size:20px;
  font-family:Financier Light;
}
.box1{
	 background-color:#8a887c;
  width: 500px;
  border: 15px solid #e8e6d8;
  padding: 50px;
  margin: 20px;
  margin-left:800px;
  position:absolute;
  font-size:20px;
  font-family:Financier Light;
}

.click{
	color:white;
    text-align:center;
	text-shadow:3px 0px black;
	font-family:Financier Light;
	border:5px 5px black;
}
</style>
</head>
</html>
