<html>
<head>
<style>
.main
{
	width:100%;
	height:auto;
	background:url(IMG_5936.jpg);
	padding-top:50px;
	background-color:#181818;
	text-align:center;
	font-size:50px;
	font-family:arial;
	font-weight:bold;
	color:#eae0c8;
}	
</style>
</head>
</html>